*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat';
}

.main{
    width: 100vw;
}
.first{
    width: 100vw;
    background-color: #fde5ea;
    overflow-x: hidden;
    padding-bottom: 8vh;
}
.first .nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 4vw;
}
.nav .logo{
    height: 7vw;
    width: 7vw;
}
.nav .logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav .cta a{
    color: black;
    text-decoration: none;
}
.nav .cta{
    display: flex;
    gap: 10vw;
    font-size: 1.5vw;
}

.cta a:hover{
    color: #9c0746;
}

.nav button{
    padding: 1vw 3vw;
    border-radius: 50px;
    border: 1.3px solid #9c0746;
    background-color: transparent;
    font-weight: 600;
}
.nav button:hover{
    background-color: #9c0746;
    color: #fde5ea;
}

.content{
    width: 100%;
    position: relative;
}

.content .cake{
    position: absolute;
    width: 40vw;
    height: 80vh;
    right: -2vw;
    top: 2vh;
}
.cake img{
    height: 100%;
    width: 100%;
    scale: 1.2;
    object-fit: cover;

}

.content .text{
    width: 50vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-left: 5vw;
}
.content .text h1{
    color: #9c0746;
    font-size: 4vw;
}

.content .text p{
    font-size: 2vw;
    font-weight: 200;
}
.content button{
    width: 20vw;
    padding: 1vw 3vw;
    border: none ;
    background-color: #9c0746;
    color: white;
    border-radius: 50px;
    font-size: 1.5vw;
}
.content button:hover{
    background-color:#fa0068 ;
    color: white;
}
.content button:active{
    scale: 0.9;
}
.featured{
    width: 100vw;
    padding: 2vw;
    margin-bottom: 10vh;
}
.featured h1{
    color: #9c0746;
    text-align: center;
    font-size: 4vw;
    margin-top: 5vh;
}

.featured .headTag{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    gap: 4vw;
}
.featured .headTag button{
    border: none;
    background-color: transparent;
    color: black;
    font-size: 2vw;   
}
.featured .cakeSection{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 3vw;
    text-align: center;
}

.featured .cakeSection .box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}
.featured .cakeSection .imgContainer{
    height: 50vh;
    width: 100%;
}
.featured .cakeSection .imgContainer img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.featured .cakeSection h3{
    font-size: 1.5vw;
    color: #9c0746;
    font-weight: 700;   
}
.featured .cakeSection p{
    font-size: 1.2vw;
    margin-top: 2vh;
}
.featured .cakeSection h2{
    margin-top: 2vh;
}
.featured .cakeSection button{
    padding: 1vw 2vw;
    width: 10vw;
    border-radius: 50px;
    border: none;
    background-color: #9c0746;
    color: #fde5ea;
    margin-top: 3vh;
}
.featured .cakeSection button:hover{
    background-color:#fa0068 ;
    color: white;
}
.featured .cakeSection button:active{
    scale: 0.9;
}
.featured .headTag button:hover{
    color: #9c0746;
}
.headTag button {
    transition: opacity 0.3s;
}
.speciality{
    width: 100vw;
    height: 150vh;
    background-color: #fde5ea;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    margin-bottom: 7vmax;
    overflow-x: hidden;
}

.speciality h1{
    margin-top: 3vw;
    font-size: 4vw;
    color: #9c0746;
}
.speciality p{
    width: 35vw;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 600;
}
#speciality_cakeimage{
    position: absolute;
    transform: translateX(100%);
    height: calc(100% - 25vw);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 2vw;
    padding-bottom: 1vw;
    overflow: hidden;
}
#speciality_cakeimage img{
    height: 31vmax;
    width: 31.2vmax;
    object-fit: cover;
}
#Scake1{
    object-position: left;
}
#Scake2{
    object-position:75%;
}
#Scake3{
    object-position:left ;
}
#Scake4{
    object-position: 5%; 
}
#Scake5{
    object-position:85% ;
}

#speciality_bottom{
    margin-top: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 100%;
    height: 30vw;
    margin-bottom: 5vmax;
    background-color: #fde5ea;
}
#speciality_bottom h1{
    font-size: 2vw;
}
#speciality_bottom p{
    font-size: 1.2vw;
}
#speciality_bottom button{
    font-size: 1vw;
    font-weight: 300;
    padding: 1vw 3.5vw;
    margin-top: 1.5vw;
    border-radius: 25px;
    border: none;
    background-color: #9c0746;
    color: white;
}
#speciality_bottom button:hover{
    background-color: #fa0068;
}
#speciality_bottom button:active{
    scale: 0.9;
}
#speciality_middle{
    margin-top: 17vw;
    color: #fccbd5;
    font-size: 3vw;
    font-weight: 200;
}
.USP{
    width: 100vw;
    height: 60vh;
    background-color: #fff;
    padding: 0px 3vw;
    margin-bottom: 5vmax;
}
.main_container{
    height: 100%;
    width: 100%;
    display: flex;
}
.USP .container1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.innercont1{
    height: 50%;
    width: 100%;
    gap: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 2vw;
}
.innercont1 img{
    height: 10vw;
    width: 10vw;
    object-fit: cover;
}
.innercont1_content{
    height: 10vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw 0vw;
}
.innercont1_content h4{
    font-size: 1.7vw;
    color: #9c0746;
    font-weight: 900;
}
.innercont1_content p{
    font-size: 1.1vw;
    font-weight: 700;
}
.innercont2{
    height: 50%;
    width: 100%;
    gap: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 2vw;
}
.innercont2 img{
    height: 10vw;
    width: 10vw;
    object-fit: cover;
}
.innercont2_content{
    height: 10vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw 0vw;
}
.innercont2_content h4{
    font-size: 1.7vw;
    color: #9c0746;
    font-weight: 900;
}
.innercont2_content p{
    font-size: 1.1vw;
    font-weight: 700;
}
.USP .container2{
    width: 50%;
    height: 100%;
}

.reviews{
    height: 80vh;
    width: 100%;
    background-color: #fff; 
    margin-bottom: 10vh;
   
}
.reviews h2{
    margin-top: 5vh;
    font-size: 4vw;
    font-weight: 2vh;
    text-align: center;
    color: #9c0746;
}
.reviewContainer{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#reviewCard{ 
    height: 60vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}
#reviewCard #imgContainer {
    height: 8vw;
    width: 8vw;
}

#reviewCard #imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#reviewCard h1 {
    margin-top: 2vh;
    font-size: 3vw;
    color: #fa0068;
}

#reviewCard p {
    text-align: center;
    margin-top: 3.5vh;
    font-size: 1.2vw;

}


.footer {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    background-color: #fccbd5;
}

#left {
    height: 100%;
    padding: 2vh;
    width: 32vw;
    font-weight: 800;
}

 #left h1 {
     color: #9c0746;
     font-size: 2vw;
 }

 #mail {
     margin-top: 2vw;
     font-size: 1vw;
 }

 #contact {
     margin-top: 2vw;
 }

 #feedback {
     margin-top: 2vw;
 }

 #imagepart {
    width: 40vw;
 }

 #imagepart img {
     height: 100%;
     width: 100%;
     object-fit: cover;
 }

 #location {
     margin-top: 2vw;
     height: 4vw;
     font-size: 1vw;
 }

.parent{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 40px 30px;
}

.instaPost{
    width: 100%;
    border-radius: 20px;
    background-color: #fde5ea;
}

.instaPost .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.parent .instaPost .heading h2{
    font-size: 42px;
    opacity: 0.85; 
    font-weight: 600; 
    letter-spacing: 1px; 
    color: #333; 
    margin-top: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    padding-bottom: 10px;
}


.parent .instaPost .heading button {
    background-color: #fde5ea;
    border-radius: 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 16px;
    border: 2px solid #474141;
    margin-top: 20px;
    position: relative; 
    overflow: hidden; 
    color: #474141; 
    z-index: 1; 
    cursor: pointer; 
}

.parent .instaPost .heading button::before,
.parent .instaPost .heading button::after,
.parent .instaPost .heading button span::before,
.parent .instaPost .heading button span::after {
    content: ''; 
    position: absolute; 
    transition: all 0.4s ease; 
    background-color: #ffffff; 
    z-index: -1; 
}

.parent .instaPost .heading button::before {
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
}

.parent .instaPost .heading button::after {
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
}

.parent .instaPost .heading button span::before {
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
}

.parent .instaPost .heading button span::after {
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
}

.parent .instaPost .heading button:hover::before {
    left: 0;
}

.parent .instaPost .heading button:hover::after {
    left: 0;
}

.parent .instaPost .heading button:hover span::before {
    top: 0;
}

.parent .instaPost .heading button:hover span::after {
    top: 0;
}

.parent .instaPost .heading button span {
    position: relative;
}

.parent .instaPost .images{
    height: 500px;
    width: 100%;
    display: flex;
    gap: 35px;    
    padding: 20px 30px;
    overflow: hidden;
}

.parent .instaPost .images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.6s ease-in-out;
}

.parent .instaPost .images img:hover {
    transform: scale(1.05);
}

.parent .instaPost .divider {
    width: 85%;
    border: none;
    border-bottom: 3px solid #0000006e; 
    margin: 20px 30px; 
}

.aboutUs{
    width: 100%;
    background-color: #fde5ea;
    border-radius: 20px;
    margin-top: 50px;
    padding: 0 30px;
}

.aboutUs h2 {
    font-size: 42px;
    opacity: 0.85; 
    font-weight: 600; 
    letter-spacing: 1px; 
    color: #333; 
    padding-top: 35px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    padding-bottom: 10px;
}


.aboutUs .content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}

.aboutUs .content img{
    height: 600px;
    border-radius: 20px;
}
.aboutUs .content p {
    padding-top: 20px;
    font-size: 22px;
    line-height: 1.6; 
    font-weight: 400;
    color: #333; 
    text-align: justify;
    margin-bottom: 20px; 
    letter-spacing: 0.2px; 
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1); 
    border-left: 4px solid rgba(215, 120, 136, 0.458); 
    padding-left: 15px; 
}

.aboutUs .content .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.h3-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.h3-container h3 {
    font-size: 28px;
    font-weight: 600;
    color: #6e6a6a;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    transition: color 0.3s ease, opacity 0.3s ease; 
}

.h3-container h3:first-child {
    margin-top: 20px; 
    border-top: 1px solid #ccc; 
}

.h3-container h3:last-child {
    border-bottom: none; 
}

.h3-container h3:hover {
    color: #191919; 
    opacity: 1; 
}
 
 @media (max-width:600px) {
    .nav .logo{
        height: 14vw;
        width: 14vw;
    }
    .nav .cta a{
        font-size: 3vw;
    }
    .nav .cta{
        gap: 5vw;
    }
    .content{
        width: 100vw;
        height: 80vh;
    }
    .content .cake{
        width: 80vw;
        height: 40vh;
        top: 50%;
        left: 10%;
    }
    .content .text{
        width: 100vw;
        display: flex;
        align-items: center;
        text-align: center;
        padding-right: 10vw;
    }
    .content .text h1{
        font-size: 6vw;
    }
    .content .text p{
        margin-top: 2vh;
        font-size: 4vw;
        font-weight: 400;
    }
    .content button{
        margin-top: 2vh;
        font-size: 3vw;
        width: 40vw;
    }
    .featured h1{
        font-size: 6vw;
    }
    .featured .headTag{
        margin-top: 2vh;
    }
    .featured .headTag button{
        font-size: 5vw;
    }
    .featured .cakeSection{
        margin-top: 2vh;
    }
    .featured .cakeSection .imgContainer{
        height: 20vh;
    }
    .featured .cakeSection h3{
        font-size: 3vw;
        margin-top: 1vh;
    }
    .featured .cakeSection p{
        font-size: 2.3vw;
        font-weight: 400;
    }
    .featured .cakeSection button{
        width: 20vw;
    }
    .speciality{
        height: 100vh;
        overflow: hidden;
    }
    .speciality h1{
        margin-top: 4vh;
        font-size: 6vw;
    }
    .speciality p{
        width: 100vw;
        font-size: 3vw;
    }
    #speciality_cakeimage{
        height: 60vh;
    }
    #speciality_bottom{
        margin-top: 60vw;

    }
    #speciality_bottom h1{
        font-size: 6vw;
    }
    #speciality_bottom p{
        margin-top: 2vh;
        font-size: 4vw;
    }
    #speciality_bottom button{
        font-size: 4vw;
        margin-top: 2vh;
    }
    #speciality_middle{
        font-size: 5vw;
        margin-top: 20vh;
    }
    .reviews{
        height: 100vh;
        margin-bottom: -10vh;
    }
    .reviews h2{
        font-size: 8vw;
    }
    .reviewContainer{
        display: flex;
        flex-direction: column;
        margin-top: 8vh;

    }
    #reviewCard{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 30vh;
    }
    #reviewCard #imgContainer{
        height: 15vw;
        width: 15vw;
    }
    #reviewCard h1{
        font-size: 4vw;
    }
    #reviewCard p{
        font-size: 3vw;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
    }
    #left{
        margin-top: 10vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3vh;
    }
    #left h1{
        font-size: 4vw;
    }
    #imagepart{
        margin-top: 20vh;
        width: 40vw;
        height: 20vh;
        scale: 2;
    }
 }
