*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body, html{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat';
}

.main{
    width: 100vw;
}
.first{

    width: 100vw;
    background-color: #fde5ea;
    overflow-x: hidden;
    padding-bottom: 8vh;
}
.first .nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 4vw;
}
.nav .logo{
    height: 7vw;
    width: 7vw;
}
.nav .logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav .cta a{
    color: black;
    text-decoration: none;
}
.nav .cta{
    display: flex;
    gap: 10vw;
    font-size: 1.5vw;
}

.cta a:hover{
    color: #9c0746;
}

.nav button{
    padding: 1vw 3vw;
    border-radius: 50px;
    border: 1.3px solid #9c0746;
    background-color: transparent;
    font-weight: 600;
}
.nav button:hover{
    background-color: #9c0746;
    color: #fde5ea;
}

.content{
    width: 100%;
    position: relative;
    height: 90vh;
}

.content .cake{
    position: absolute;
    width: 40vw;
    right: 3vw;
    top: 15vh;
}
.cake img{
    height: 100%;
    width: 100%;
    scale: 1.3;
    object-fit: cover;
}

.content .text{
    width: 50vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-left: 5vw;
}
.content .text h1{
    color: #9c0746;
    font-size: 4vw;
}

.content .text p{
    font-size: 2vw;
    font-weight: 200;
}
.content button{
    width: 20vw;
    padding: 1vw 3vw;
    border: none ;
    background-color: #9c0746;
    color: white;
    border-radius: 50px;
    font-size: 1.5vw;
}
.content button:hover{
    
    background-color:#fa0068 ;
    color: white;
}
.content button:active{
    scale: 0.9;
}
.featured{
    width: 100vw;
    padding: 2vw;
}
.featured h1{
    color: #9c0746;
    text-align: center;
    font-size: 4vw;
    margin-top: 5vh;
}

.featured .headTag{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    gap: 4vw;
}
.featured .headTag button{
    border: none;
    background-color: transparent;
    color: black;
    font-size: 2vw;   
}
.featured .cakeSection{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 3vw;
    text-align: center;
}

.featured .cakeSection .box1, .box2, .box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}
.featured .cakeSection .imgContainer{
    height: 40vh;
    width: 100%;
}
.featured .cakeSection .imgContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.featured .cakeSection h3{
    font-size: 1.5vw;
    color: #9c0746;
    font-weight: 700;   
}
.featured .cakeSection p{
    font-size: 1.2vw;
}
.featured .cakeSection button{
    padding: 1vw 2vw;
    width: 10vw;
    border-radius: 50px;
    border: none;
    background-color: #9c0746;
    color: #fde5ea;
}
.box3 .imgContainer{
    scale: 0.8;
}
.featured .cakeSection button:hover{
    background-color:#fa0068 ;
    color: white;
}
.featured .cakeSection button:active{
    scale: 0.9;
}
.featured .headTag button:hover{
    color: #9c0746;
}